.form-check-input {
  transform: scale(1.5);
  margin-right: 0.5rem; /* adjust spacing between switch and label if needed */
}

.switch-left .form-check-input {
    order: 2;
    margin-left: 0.75rem;
    margin-right: 0;
}
.switch-left .form-check-label {
    order: 1;
}